@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-inner-thin {
    box-shadow: inset 0 3px 40px rgba(0, 0, 0, 0.15);
  }
  .shadow-feature-card {
    box-shadow: 0 20px 50px #003F5C0D;
  }
  .shadow-service-card {
    box-shadow: 0 30px 50px #00000014;
  }

  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }

  .overline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -4px;
    background: white;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
}

.top-gradient-r {
  background: linear-gradient(
    90deg,
    #1A3E59 0%,
    #59B7C3 20%,
    #428BA6 40%,
    #003F5C 100%
  );
}
.top-gradient-l {
  background: linear-gradient(
    -90deg,
    #1A3E59 0%,
    #59B7C3 20%,
    #428BA6 40%,
    #003F5C 100%
  );
}
