@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-common {
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
  }
  .shadow-heavy {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
  }
}

body {
  width: 100%;
  overflow-x: hidden;
}

.top-gradient-r {
  background: linear-gradient(
    90deg,
    #1A3E59 0%,
    #59B7C3 20%,
    #428BA6 40%,
    #003F5C 100%
  );
}
.top-gradient-l {
  background: linear-gradient(
    -90deg,
    #1A3E59 0%,
    #59B7C3 20%,
    #428BA6 40%,
    #003F5C 100%
  );
}
